<!DOCTYPE HTML>
<html>
    <head> 
        <title>Red Folder</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta http-equiv="Pragma" CONTENT="no-cache">
        
        <link rel="stylesheet" href="css/af.ui.css">
		<script type="text/javascript" charset="utf-8" src="js/appframework.ui.min.js"></script>
       	<script type="text/javascript" charset="utf-8" src="js/appframework.js"></script>
        
       <script type="text/javascript" charset="utf-8">	
	        function onLoad() 
            {
	   		}
            
        </script>
     
    </head>
    <body onload="onLoad()">
    	
        <!-- beginning afui-->
        <div id="afui">
            <!-- Beginning header -->
            <div id="header">
				<h2>{{% if page.title %}} {{ page.title }} {{% endif %}}</h2>
            </div>
            <!--ending header-->
            
            <div id="content">
                <!-- main content loaded initially-->
                <div id="main" class="panel" selected="true">
                    <ul class="list">
                    	<li><a href="#indicatorspage">Indicators</a></li>
                    	<li><a href="#contactpage">Protocols/Contact</a></li>
                    	<li><a href="#tipspage">Resources and tips</a></li>
                    	<li><a href="#aboutpage">About Red Folder initiative</a></li>
                    </ul>
                </div>
                <!-- Ending main page -->
                
                <!-- Beginning indicators page-->
                <div id="indicatorspage" class="panel">
                	
                </div>
                <!-- Ending indicators page -->
                
                <!-- Beginning contact page-->
                <div id="contactpage" class="panel">
                	{{ content }}
                </div>
                <!-- End of contact page-->
                
                
                <!-- Beginning tips page-->
                <div id="tipspage" class="panel">
				</div>
                <!-- Ending tips page-->
                
				<!-- Beginning about page-->
                <div id="aboutpage" class="panel">
                </div>
                <!-- Ending about page-->
            
            </div>
            <!--Ending content division-->
        </div>
        <!-- Ending #afui division-->     
	</body>
</html>